<!DOCTYPE html>
<html>
    <head>
        <title>Update My Project | Task Chapter 2</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
            crossorigin="anonymous"
        >
    </head>
    <body class="bg-secondary-subtle">
        <nav class="navbar navbar-expand-lg bg-body-tertiary px-4 py-3">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img src="/public/images/logo.png" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/add-project">Add Project</a>
                        </li>
                    </ul>
                    <div class="d-flex flex-column flex-lg-row">
                        <ul class="navbar-nav me-2 mb-lg-0 mb-2">
                            <form id="logoutform" action="/logout" method="post"></form>
                            <li class="nav-item">
                                <a class="nav-link" style="cursor: pointer;"
                                    onclick="document.getElementById('logoutform').submit()">Logout</a>
                            </li>
                        </ul>
                        <a class="btn btn-dark" href="/contact" role="button"
                            style="max-height: fit-content; max-width: fit-content;">Contact Me</a>
                    </div>
                </div>
            </div>
        </nav>
        
        <div class="p-3">
            <form onsubmit="return validDate()" action="/edit-project/{{.Project.ID}}" method="post" enctype="multipart/form-data" class="m-auto" style="max-width: 500px;">
                <h2 class="my-5 text-center fw-bold">UPDATE MY PROJECT</h2>

                <div class="mb-3">
                    <label for="projectName" class="form-label fw-bold">Project Name</label>
                    <input type="text" class="form-control" name="projectName" id="projectName" value="{{.Project.Name}}" required/>
                </div>
                
                <div class="mb-3 row">
                    <div class="col">
                        <label for="startDate" class="form-label fw-bold">Start Date</label>
                        <input type="date" class="form-control" name="startDate" id="startDate" value="{{.StartDate}}" required/>
                    </div>
                    <div class="col">
                        <label for="endDate" class="form-label fw-bold">End Date</label>
                        <input type="date" class="form-control" name="endDate" id="endDate" value="{{.EndDate}}" required/>
                    </div>
                </div>
                
                <div class="mb-3">
                    <label for="description" class="form-label fw-bold">Description</label>
                    <textarea class="form-control" name="description" id="description" style="resize: none;" required>{{.Project.Desc}}</textarea>
                </div>

                <div class="mb-3 row">
                    <label class="form-label fw-bold">Technologies</label>
                    <div class="col">
                        <div>
                            <input class="form-check-input me-auto" type="checkbox" name="nodeJs" id="nodeJs" value="nodejs"/>
                            <label class="ms-2" for="nodeJs">Node Js</label>
                        </div>
                        <div>
                            <input class="form-check-input me-auto" type="checkbox" name="reactJs" id="reactJs" value="reactjs"/>
                            <label class="ms-2" for="reactJs">React Js</label>
                        </div>
                    </div>
                    <div class="col">
                        <div>
                            <input class="form-check-input me-auto" type="checkbox" name="nextJs" id="nextJs" value="nextjs"/>
                            <label class="ms-2" for="nextJs">Next Js</label>
                        </div>
                        <div>
                            <input class="form-check-input me-auto" type="checkbox" name="typescript" id="typescript" value="typescript"/>
                            <label class="ms-2" for="typescript">TypeScript</label>
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="inputImage" class="form-label fw-bold">Upload Image</label>
                    <div class="my-1" style="width: 200px;">
                        <img class="img-fluid rounded" id="image-preview" src="/uploads/{{.Project.Image}}" alt="current-project-image"/>
                    </div>
                    <input class="form-control" type="file" accept="image/*" name="inputImage" id="inputImage" value="{{.Project.Image}}" onchange="updatePreview()" required>
                </div>

                <div class="mb-3 text-end">
                    <button class="btn btn-dark rounded-pill fw-bold px-4" type="submit">submit</button>
                </div>
            </form>
        </div>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous">
        </script>
        <script src="/public/js/project.js"></script>
    </body>
</html>