<!DOCTYPE html>
<html>
    <head>
        <title>Project Detail</title>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
            integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
            crossorigin="anonymous"
        >
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-body-tertiary px-4 py-3">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="/public/images/logo.png" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active fw-bold" aria-current="page" href="/add-project">Add Project</a>
                        </li>
                    </ul>
                    <div class="d-flex">
                        <a class="btn btn-dark" href="/contact" role="button">Contact Me</a>
                    </div>
                </div>
            </div>
        </nav>

        <div class="bg-secondary-subtle p-5">
            <h1 class="fw-bold text-center mb-4">{{.Project.Name}}</h1>
            
            <div class="d-flex flex-xxl-row flex-xl-row flex-lg-row flex-md-row flex-sm-column flex-column gap-4">
                <div style="flex: 2;">
                    <img src="/public/images/img7.png" alt="project-image" style="width: 100%; object-fit: cover;"/>
                </div>
                <div style="flex: 1;">
                    <h5>Duration</h5>
                    <div class="m-2 d-flex flex-wrap gap-2 align-items-center">
                        <img class="d-inline" src="/public/images/calendar-days-solid.svg" style="width: 2em;"/>
                        <div class="d-inline">{{.StartDate}} - {{.EndDate}}</div>
                    </div>
                    <div class="m-2 d-flex flex-wrap gap-2 align-items-center">
                        <img class="d-inline" src="/public/images/clock-regular.svg" style="width: 2em;" />
                        <div class="d-inline">{{.Project.Duration}}</div>
                    </div>

                    <h5 class="mt-5">Technologies</h5>
                    <div>
                        <div class="row row-cols-2 g-2">
                            {{if .Project.NodeJs}}
                            <div class="col d-flex gap-2 align-items-center">
                                <img src="/public/images/node-js.svg" style="width: 2em;"/>
                                <div>Node Js</div>
                            </div>
                            {{end}}
                            {{if .Project.ReactJs}}
                            <div class="col d-flex gap-2 align-items-center">
                                <img src="/public/images/react.svg" style="width: 2em;"/>
                                <div>React Js</div>
                            </div>
                            {{end}}
                            {{if .Project.NextJs}}
                            <div class="col d-flex gap-2 align-items-center">
                                <img src="/public/images/nextjs.svg" style="width: 2em;"/>
                                <div>Next Js</div>
                            </div>
                            {{end}}
                            {{if .Project.TypeScript}}
                            <div class="col d-flex gap-2 align-items-center">
                                <img src="/public/images/typescript.svg" style="width: 2em;"/>
                                <div>TypeScript</div>
                            </div>
                            {{end}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-5">
                {{.Project.Desc}}
            </div>

        </div>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous">
        </script>
    </body>
</html>